*.o
*.so
*.a
*.d
*.exe
*.sif
*.dll
*.pyc
*.whl
a.out
__pycache__

*.bz2
*.gz
*.tar
.*.swp
*.orig
*.rej
vgcore.*
.vagrant
\#*#
.#*
.vscode
*~
.*~

/config.mak
/sources/
/output/
/binutils-*/
/gcc-*/
/musl-*/
/gmp-*/
/mpc-*/
/mpfr-*/
/build-*/
/linux-*/
/isl-*/
/zlib-*/
/libpng-*/
/termcap-*/
/readline-*/
/libjpeg-*/
/build/
/musl/bin
/musl/include
/musl/lib
/musl/lib64
/musl/x86_64-linux-musl
/musl/libexec
/musl/share/cmake/linux-musl.cmake
/musl/share/gcc-*/
/musl/share/pkgconfig
/musl-gcc-*.tar.gz
